<div ng-init="populate()" class="col-md-8">
	<p class="error">{{error}}</p>
	<p>{{loadingMessage}}</p>
	<div ng-show="userData != null">
		<graph-person person="userData"></graph-person>
	</div>
</div>
<div class="col-md-4">
	<h3>Log of REST calls (newest on top)</h3>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="req in requestLog">
			<div>
				<span class="label" ng-class="{'label-success': req.status === 200, 'label-danger': req.status !== 200}">
				{{req.status}} - {{req.statusText}}
				</span>

				<div style="float:right;margin-left:10px">
					<span class="label label-default" am-time-ago="{{req.completedOn}}"></span>
				</div>
			</div>
			<div>
				<button type="button" class="btn btn-default btn-xs" ng-click="req.showdata=!req.showdata" aria-label="Show Response" title="Show Response"
				ng-hide="req.showdata">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default btn-xs" ng-click="req.showdata=!req.showdata" aria-label="Hide Resonse" title="Hide Response"
				ng-show="req.showdata">
					<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
				</button>
				<span class="label label-info">{{req.config.method}}</span>
				{{req.config.url}}
			</div>
			<div ng-show="req.showdata">
				<pre>{{req.data | json}}</pre>
			</div>
		</li>
	</ul>
</div>