<div ng-init="populate()" class="col-md-8">
	<p class="error">{{error}}</p>
	<p>{{loadingMessage}}</p>
	<div ng-show="userData != null">
		<graph-person person="userData"></graph-person>
	</div>
</div>
<div class="col-md-4">
	<h3>Log of REST calls (newest on top)</h3>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="req in requestLog">
			<div>
				<span class="label" ng-class="{'label-success': req.status >= 200 && req.status < 300, 'label-danger': req.status >= 300}">
				{{req.status}} - {{req.statusText}}
				</span>

				<div style="float:right;margin-left:10px">
					<span class="label label-default" am-time-ago="{{req.completedOn}}"></span>
					<button type="button" class="btn btn-default btn-xs" ng-click="req.showrequestdata=!req.showrequestdata" aria-label="Show Request"
					title="Show Response" ng-show="req.config.data != null && (req.showrequestdata == null || req.showrequestdata === false)">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="req.showrequestdata=!req.showrequestdata" aria-label="Hide Request"
					title="Hide Response" ng-show="req.showrequestdata">
						<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
					</button>
				</div>
				<div>
					<button type="button" class="btn btn-default btn-xs" ng-click="req.showresponsedata=!req.showresponsedata" aria-label="Show Response"
					title="Show Response" ng-hide="req.showresponsedata">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="req.showresponsedata=!req.showresponsedata" aria-label="Hide Response"
					title="Hide Response" ng-show="req.showresponsedata">
						<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
					</button>
					<span class="label label-info">{{req.config.method}}</span> <span style="word-wrap: break-word;">{{req.config.url}}</span>
				</div>
				<div ng-show="req.showrequestdata">
					<h4>Request data</h4>
					<pre>{{req.config.data | json}}</pre>
				</div>
				<div ng-show="req.showresponsedata">
					<h4>Response data</h4>
					<pre>{{req.data | json}}</pre>
				</div>
		</li>
	</ul>
	</div>